@page "/"
@namespace ExpensesTracker.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Operatio | Expenses Tracker</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <base href="/" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-50 text-gray-800">
    <app>
      <component type="typeof(App)" render-mode="Server" />
    </app>
    <script src="/_framework/blazor.server.js"></script>
  </body>
</html>